.textContainer {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  display: flex;
  background-color: #ffffff;
  border-right: 2px solid #000000;
  flex-direction: column;
  margin-left: 80px;
  color: rgb(27, 26, 26);
  height: 60%;
}

.textHeadingContainer {
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 18px;
  align-items: center;
  background-color: #2979ff;
  border-top-left-radius: 8px;
}

.userImg {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.userContainer {
  width: 100%;
}

.activeContainer {
  width: 100%;
  align-items: center;
  margin-bottom: 50%;
}

.activeItem {
  width: 100%;
  cursor: pointer;
  padding: 10px;
  display: flex;
  align-items: center;
  margin-bottom: 1em;
}

.activeContainer img {
  padding-left: 10px;
}

.textContainer h3 {
  color: #ffffff !important;
  margin-bottom: 0px;
}

@media (min-width: 320px) and (max-width: 1200px) {
  .textContainer {
    display: none;
  }
}
